 <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "Dial a Drink", '/', id: "logo" %>
          <%= link_to "Sheffield", '/', id: "logo_locale" %>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "Home",    '/' %></li>
              <li><%= link_to "contact",    '/contact' %></li>
              <li><%= link_to "Price list", '/prices' %></li>
              <li><%= link_to "Offers", '/offers' %></li>
            </ul>
          </nav>
        </div>
      </div>
      </div>
    </header>
  </body>